$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-bg-white: #fff;
$color-black: #000;

$color-bg-grey-1: #f7f7f7;

$grid-width: 5rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2rem;


//FONT
$default-font-size: 1.6rem;



//TRANSITION
$transition-time: .2s