.header {
    height: 95vh;    /*vh - viewport height, 95% of element.*/
    background-image: linear-gradient(to bottom right, rgba($color-primary-light, 0.801) , rgba($color-primary-dark, 0.801) ),
    url("../img/hero.jpg");
    background-size: cover; 
    background-position: top; /* top of image not crops with changing vw */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    


    &__logo {
    height: 35px;
   
    }
}


